.git
.github
.venv
__pycache__
**/__pycache__
*.pyc
*.egg-info
build
dist
debug_outputs
temp
data
results
gui-config
docker/input
docker/output
.pytest_cache
.debug_paths.json
*.holo
**/*.holo
*.cine
**/*.cine
*.h5
**/*.h5
*.hdf5
**/*.hdf5
*.avi
**/*.avi
*.mp4
**/*.mp4
